<!DOCTYPE html>
<html>

<head>

    <title>Home</title>

    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    
    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body class="noise">

    <!-- DARK EDGES -->
    <div class="vignette"></div>

    <div class="container">

        <h1 data-text="Welcome">Welcome</h1>

        <a href="/signup">
            <button>Sign Up</button>
        </a>

        <a href="/login">
            <button>Login</button>
        </a>

    </div>

</body>

</html>